[submodule "Plugins/ComputeShaderDev"]
	path = Plugins/ComputeShaderDev
	url = https://github.com/UE4-OceanProject/ComputeShaderDev
[submodule "Plugins/SkyPlugin"]
	path = Plugins/SkyPlugin
	url = https://github.com/UE4-OceanProject/SkyPluginDev.git
[submodule "Plugins/TimePlugin"]
	path = Plugins/TimePlugin
	url = https://github.com/UE4-OceanProject/TimePluginDev.git
[submodule "Plugins/BuoyancyPlugin"]
	path = Plugins/BuoyancyPlugin
	url = https://github.com/UE4-OceanProject/BuoyancyPlugin.git
[submodule "Plugins/FishPlugin"]
	path = Plugins/FishPlugin
	url = https://github.com/UE4-OceanProject/FishPlugin.git
[submodule "Plugins/OceanPlugin"]
	path = Plugins/OceanPlugin
	url = https://github.com/UE4-OceanProject/OceanPlugin.git
[submodule "Plugins/WeatherDataPlugin"]
	path = Plugins/WeatherDataPlugin
	url = https://github.com/UE4-OceanProject/WeatherDataPlugin.git