[submodule "Plugins/ComputeShaderDev"]
	path = Plugins/ComputeShaderDev
	url = https://github.com/UE4-OceanProject/ComputeShaderDev
[submodule "Plugins/SkyPlugin"]
	path = Plugins/SkyPlugin
	url = S:\\GDrive\\Production\\Game\\Unreal Projects\\ENV_DEV\\DEV\\Plugins\\SkyPluginDev
[submodule "Plugins/TimePlugin"]
	path = Plugins/TimePlugin
	url = S:\\GDrive\\Production\\Game\\Unreal Projects\\ENV_DEV\\DEV\\Plugins\\TimePluginDev
[submodule "Plugins/OceanShaderPlugin"]
	path = Plugins/OceanShaderPlugin
	url = https://github.com/UE4-OceanProject/OceanShaderPlugin.git
[submodule "Plugins/BuoyancyPlugin"]
	path = Plugins/BuoyancyPlugin
	url = https://github.com/UE4-OceanProject/BuoyancyPlugin.git
