{
	"TargetName" : "OceanProjectEditor",
	"Platform" : "Win64",
	"Configuration" : "Development",
	"BuildId" : "86226abb-1506-46a3-9d36-eb1f59efc4ed",
	"Version" : 
	{
		"MajorVersion" : 4,
		"MinorVersion" : 15,
		"PatchVersion" : 0,
		"Changelist" : 3299760,
		"CompatibleChangelist" : 0,
		"IsLicenseeVersion" : 0,
		"IsPromotedBuild" : 1,
		"BranchName" : "++UE4+Release-4.15"
	},
	"BuildProducts" :
	[
		{
			"Path" : "$(ProjectDir)/Plugins/OceanPlugin/Binaries/Win64/UE4Editor-OceanPlugin.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/OceanPlugin/Binaries/Win64/UE4Editor-OceanPlugin.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/OceanPlugin/Intermediate/Build/Win64/UE4Editor/Development/UE4Editor-OceanPlugin.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)/Binaries/Win64/UE4Editor-OceanProject.dll",
			"Type" : "DynamicLibrary"
		},
		{
			"Path" : "$(ProjectDir)/Binaries/Win64/UE4Editor-OceanProject.pdb",
			"Type" : "SymbolFile"
		},
		{
			"Path" : "$(ProjectDir)/Intermediate/Build/Win64/UE4Editor/Development/UE4Editor-OceanProject.lib",
			"Type" : "ImportLibrary"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/OceanPlugin/Binaries/Win64/UE4Editor.modules",
			"Type" : "RequiredResource"
		},
		{
			"Path" : "$(ProjectDir)/Binaries/Win64/UE4Editor.modules",
			"Type" : "RequiredResource"
		}
	],
	"RuntimeDependencies" :
	[
		{
			"Path" : "$(ProjectDir)/OceanProject.uproject",
			"Type" : "UFS"
		},
		{
			"Path" : "$(ProjectDir)/Plugins/OceanPlugin/OceanPlugin.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/2D/Paper2D/Paper2D.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Blendables/LightPropagationVolume/LightPropagationVolume.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Developer/GitSourceControl/GitSourceControl.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Developer/PerforceSourceControl/PerforceSourceControl.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Developer/SubversionSourceControl/SubversionSourceControl.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Developer/UObjectPlugin/UObjectPlugin.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Developer/VisualStudioSourceCodeAccess/VisualStudioSourceCodeAccess.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/AudioCapture/AudioCapture.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/EpicSurvey/EpicSurvey.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/FacialAnimation/FacialAnimation.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/GameplayTagsEditor/GameplayTagsEditor.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/MobileLauncherProfileWizard/MobileLauncherProfileWizard.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/PluginBrowser/PluginBrowser.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/SpeedTreeImporter/SpeedTreeImporter.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Editor/SuperSearchEditor/SuperSearchEditor.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/AlembicImporter/AlembicImporter.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/CharacterAI/CharacterAI.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Experimental/HTML5Networking/HTML5Networking.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Media/AndroidMedia/AndroidMedia.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Media/AvfMedia/AvfMedia.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Media/MediaPlayerEditor/MediaPlayerEditor.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Media/MfMedia/MfMedia.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Media/WmfMedia/WmfMedia.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Messaging/TcpMessaging/TcpMessaging.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Messaging/UdpMessaging/UdpMessaging.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/MovieScene/LevelSequenceEditor/LevelSequenceEditor.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/MovieScene/MatineeToLevelSequence/MatineeToLevelSequence.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Online/OnlineSubsystem/OnlineSubsystem.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Online/OnlineSubsystemNull/OnlineSubsystemNull.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Online/OnlineSubsystemUtils/OnlineSubsystemUtils.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ArchVisCharacter/ArchVisCharacter.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/CableComponent/CableComponent.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/CustomMeshComponent/CustomMeshComponent.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ExampleDeviceProfileSelector/ExampleDeviceProfileSelector.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/LocationServicesBPLibrary/LocationServicesBPLibrary.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/MobilePatchingUtils/MobilePatchingUtils.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/OculusInput/OculusInput.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/OculusLibrary/OculusLibrary.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/OculusRift/OculusRift.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/PhysXVehicles/PhysXVehicles.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/ProceduralMeshComponent/ProceduralMeshComponent.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/Steam/SteamVR/SteamVR.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Plugins/Runtime/WindowsMoviePlayer/WindowsMoviePlayer.uplugin",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Content/Slate/...",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Content/SlateDebug/...",
			"Type" : "UFS"
		},
		{
			"Path" : "$(ProjectDir)/Content/Slate/...",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Content/SlateDebug/...",
			"Type" : "UFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/PxFoundationPROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/PxFoundationPROFILE_x64.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/PxPvdSDKPROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/PxPvdSDKPROFILE_x64.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/PhysX3PROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/PhysX3PROFILE_x64.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/PhysX3CookingPROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/PhysX3CookingPROFILE_x64.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/PhysX3CommonPROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/PhysX3CommonPROFILE_x64.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/PxFoundationPROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/PxPvdSDKPROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/APEX_ClothingPROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/APEX_ClothingPROFILE_x64.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/APEX_DestructiblePROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/APEX_DestructiblePROFILE_x64.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/APEX_LegacyPROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/APEX_LegacyPROFILE_x64.pdb",
			"Type" : "DebugNonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/ApexFrameworkPROFILE_x64.dll",
			"Type" : "NonUFS"
		},
		{
			"Path" : "$(EngineDir)/Binaries/ThirdParty/PhysX/Win64/VS2015/ApexFrameworkPROFILE_x64.pdb",
			"Type" : "DebugNonUFS"
		}
	]
}